.grid1 {
    display: grid;
    grid-template-columns: repeat(4, 110px);
    gap: 5px;
    margin-left:500px;
    
  }
  .grid2 {
    display: grid;
    grid-template-columns: repeat(6, 110px);
    gap: 5px;
  }
  .grid3 {
    display: grid;
    grid-template-columns: repeat(10, 110px);
    gap: 5px;
    
    
  }